@import url('https://fonts.googleapis.com/css2?family=Molengo&family=Montserrat:wght@100;400;600&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    /* background: #193446; // but it overlaps the navbar color T_T*/
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar {
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: 'Molengo', sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky {
    background: #fff;
    padding: 15px 0;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
    transition: color 0.3s ease;
}

.navbar.sticky .logo a {
    color: #193446;
}

.navbar .logo a:hover {
    border-color: #E9C77B;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

.navbar .menu li a {
    color: #fff;
    font-size: 18px;
    margin-left: 25px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
    transition: color 0.3s ease;
}

.navbar.sticky .menu li a {
    color: #193446;
}

.navbar .menu li a:hover {
    border-color: #E9C77B;
}

.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    /* display: none; */
}

.home {
    display: flex;
    /* background: url(https://cutewallpaper.org/21/pastel-computer-wallpaper/45-Cute-Pastel-Desktop-Wallpapers-Download-at-WallpaperBro.jpg) no-repeat center; */
    background: #193446;
    height: 100vh;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: #9AABB9;
}